* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-wrapper {
    padding-top: 180px;
}

form {
    /* background-color: red; */
    display: block;
    margin: auto;
    max-width: 400px;
    text-align: center;
}