* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 991px) {
    .form-control {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .btn-outline-success {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.todos-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
}

.todos-container img {
    height: 180px;
}

.todos-container .card {
    position: relative;
    z-index: 1;
}


.todos-wrapper {
    min-height: calc(100vh - 56px);
}

.modal-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    width: 420px;
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logout-btn {
    display: none;
}